{% if tailscale_install %}

{{ ansible_facts.tailscale0.ipv4.address }} {{ rpi_hostname }}
{{ ansible_facts.tailscale0.ipv4.address }} {{ pihole_domain }}

{% if homeassistant_install %}
{{ ansible_facts.tailscale0.ipv4.address }} {{ homeassistant_domain }}
{% endif %}

{% else %}

{{ ansible_facts.default_ipv4.address }} {{ rpi_hostname }}
{{ ansible_facts.default_ipv4.address }} {{ pihole_domain }}

{% if homeassistant_install %}
{{ ansible_facts.default_ipv4.address }} {{ homeassistant_domain }}
{% endif %}

{% endif %}
