ADMIN_EMAIL={{ pihole_admin_email }}
BLOCKING_ENABLED=true
CACHE_SIZE=10000
DHCP_ACTIVE=false
DHCP_IPv6=true
DHCP_rapid_commit=true
DNS_BOGUS_PRIV=false
DNS_FQDN_REQUIRED=true
DNSMASQ_LISTENING=single
DNSSEC=true
INSTALL_WEB_INTERFACE=true
INSTALL_WEB_SERVER=true
IPV4_ADDRESS={{ ansible_default_ipv4.address }}/24
LIGHTTPD_ENABLED=false
{% if install_cloudflared_doh %}
PIHOLE_DNS_1=127.0.0.1#5053
{% else %}
PIHOLE_DNS_1=1.1.1.1
PIHOLE_DNS_2=1.0.0.1
{% endif %}
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
REV_SERVER_CIDR=192.168.1.0/24
REV_SERVER_TARGET=192.168.1.1
REV_SERVER=true
{{ pihole_password_old }}
WEBTHEME=default-auto
WEBUIBOXEDLAYOUT=boxed
